.nav {
    background-color: whitesmoke;
    width: 100%;
    padding: 0.1rem;
    position: fixed;
    height: fit-content;
    z-index: 10;
}

.nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}